# Dependencies
node_modules/
**/node_modules/

# Next.js
.next/
**/.next/
out/

# Environment Variables
.env
.env.local
.env*.local
*.env

# System & Logs
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
build/
dist/
*.tsbuildinfo
